<div>

  <div>
    <p> First entry's text: </p>
    <p *ngIf="narrations.length > 0">
      {{narrations[0].text}}
    </p>
  </div>

  <div class="addition-bar">
    <button mat-raised-button color="primary" (click)="addNarration()">
      ADD NARRATION
    </button>

    <button mat-raised-button color="primary" (click)="addDialogue()">
      ADD DIALOGUE
    </button>

    <button mat-raised-button color="primary" (click)="addFork()">
      ADD FORK
    </button>
  </div>

  <div *ngFor="let narration of narrations; index as i">
    <mat-card>

      <mat-form-field>
        <textarea matInput placeholder="Autosize textarea"
                  matTextareaAutosize matAutosizeMinRows="2"
                  matAutosizeMaxRows="5"
                  [(ngModel)]="narration.text"
                  placeholder="textarea...">
        </textarea>
      </mat-form-field>

      <button mat-raised-button color="accent" (click)="deleteNarration(i)">REMOVE</button>
    </mat-card>
  </div>

</div>