<div>

  <div>
    <p> First entry's text: </p>
    <p *ngIf="entries.length > 0">
      {{entries[0].text}}
    </p>
  </div>

  <div class="addition-bar">
    <button mat-raised-button color="primary" (click)="addNarration()">
      ADD NARRATION
    </button>

    <button mat-raised-button color="primary" (click)="addDialogue()">
      ADD DIALOGUE
    </button>

    <button mat-raised-button color="primary" (click)="addFork()">
      ADD FORK
    </button>
  </div>

  <div *ngFor="let entry of entries; index as i">
    <mat-card>

      <app-narration *ngIf="isNarration(entry)" [narration]="entry">
      </app-narration>

      <app-dialogue *ngIf="isDialogue(entry)" [dialogue]="entry">
      </app-dialogue>

      <div>
        <button mat-raised-button color="accent" (click)="deleteEntry(i)">REMOVE
        </button>
      </div>
    </mat-card>
  <div>

</div>